<div class="container">
    <div class="sixteen columns">
  <h2>Request Refill</h2>
  <h6>You can easily request a refill for a previous perscription, if you would like to change a perscription or cancel one, please schedule an appointment <a href="/schedule">here.</a></h6>
</div>
<hr>
<div align="center">

<%= form_for(@medzz) do |f| %>
  <% if @medzz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medzz.errors.count, "error") %> prohibited this medzz from being saved:</h2>

      <ul>
      <% @medzz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medicine %><br />
    <%= f.text_field :medicine %>
  </div>
  <div class="actions">
    <a class="button" href="/">Cancel</a>
    <%= f.submit class: "button" %>
  </div>
<% end %>
</div>