<h1>Listing checkins</h1>

<table>
  <tr>
    <th>Lasik</th>
    <th>Glasses</th>
    <th>Contacts</th>
    <th>Steps</th>
    <th>Work</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin.lasik %></td>
    <td><%= checkin.glasses %></td>
    <td><%= checkin.contacts %></td>
    <td><%= checkin.steps %></td>
    <td><%= checkin.work %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
    <td><%= link_to 'Destroy', checkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkin', new_checkin_path %>
™