<p id="notice"><%= notice %></p>

<p>
  <b>Have your thought of having a LASIK treatment done?</b>
  <%= @checkin.lasik %>
</p>

<p>
  <b>Do you wear glasses?</b>
  <%= @checkin.glasses %>
</p>

<p>
  <b>Are you interested in contacts?</b>
  <%= @checkin.contacts %>
</p>

<p>
  <b>Do you have trouble seeing steps?</b>
  <%= @checkin.steps %>
</p>

<p>
  <b>Do you have trouble with vision at work?</b>
  <%= @checkin.work %>
</p>

<p>If the check boxes above are correct then you can proceed below</p>
<a class="btn" href="/">Home</a>
